[submodule "git-modules/access-impala"]
	path = git-modules/access-impala
	url = https://github.com/kamir/access-impala
[submodule "git-modules/access-spark"]
	path = git-modules/access-spark
	url = https://github.com/kamir/access-spark
[submodule "git-modules/access-search"]
	path = git-modules/access-search
	url = https://github.com/kamir/access-search
[submodule "git-modules/gephi-plugins"]
	path = git-modules/gephi-plugins
	url = https://github.com/kamir/gephi-plugins
[submodule "git-modules/fuseki-parcel"]
	path = git-modules/fuseki-parcel
	url = https://github.com/kamir/fuseki-parcel
[submodule "git-modules/spark-graph-generators"]
	path = git-modules/spark-graph-generators
	url = https://github.com/kamir/spark-graph-generators
[submodule "git-modules/reference-data"]
	path = git-modules/reference-data
	url = https://kamir@github.com/kamir/etosha-data-calibration.git
